/* stop watch*/


body{

    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    background-image: linear-gradient(purple,violet,yellow);
    
}

.container{
    
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    justify-content: center;

}


.timer{

    
    font-size: 72px; 
    text-align: center;
    margin: 0;
    padding: 35px;
}



.buttons{

    text-align: center;
}

button  {

    margin: 0 10px;
    border: none;

}

button i{
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play {
    background-color: green;

}

#pause {

    background-color: orange;
}

#reset{

    background-color: red;
}